@charset "UTF-8";

:root{
    --color-primary:#333;
    --color-secondary:#555;
    --color-secondary2:#aeaeae;
    --color-warning:#ff200c;
    --color-warning-dark:#ff5436;
    --color-positive:#086cfd;
    --color-positive-dark:#279fff;
    --color-notice:#f76900;
    --color-notice-dark:#ff8f00;
    --color-ing:#98948d;
    --color-done:#77ba04;

    --bg-base:#f3f2f2;
    --bg-base-dark:#121315;
    --bg-card:#fff;
    --bg-card-dark:#1c1d21;

    --text-title:#26282c;
    --text-title-dark:#eff2f7;
    --text-text:#484b51;
    --text-text-dark:#c6cbd0;
    --text-text2:#696e76;
    --text-text2-dark:#aab0b8;
    --text-text3:#8c949e;
    --text-text4:#c6cbd0;
    --text-text4-dark:#484b51;

    --line-primary:#d9d9d9;
    --line-primary-dark:#eff2f7;
    --line-button:#26282c;
    --line-button-dark:#eff2f7;
    --line-disable:#dde1e4;
    --line-disable-dark:#3d4046;

    --border:#d9d9d9;

    --snb-size:220px;
    --preview-size:400px;

    --transition-speed:.3s;

    --scroll-behavior:smooth;

    --input-height:38px;
}

/* base */
*, *:after, *:before{-webkit-box-sizing:border-box;box-sizing:border-box}
html{
    font-size:10px;line-height:1.6;
    scroll-behavior:var(--scroll-behavior);
    scroll-padding-top:60px;
}
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul,figure,figcaption{margin:0;padding:0}
body{
    overflow-x:hidden;position:relative;background-color:var(--bg-base);
    font-size:1.4rem;color:var(--color-secondary);
    word-break:break-all;-webkit-text-size-adjust:none
}
main,details{display:block}
table{border-collapse:collapse}
fieldset,img{border:0}
ol,ul{list-style:none}
address,em{font-style:normal}
button,select{text-transform:none}
button{cursor:pointer}
a{color:inherit;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,.1)}
img{vertical-align:top}
mark{color:inherit;font-weight:700;background:none}
button,input{border-radius:0;background:none}
button, input, optgroup, select, textarea{
    -webkit-appearance:none;appearance:none;margin:0;padding:0;background-color:transparent;
    border-radius:0;border:0;font-family:inherit;font-size:inherit;letter-spacing:inherit;line-height:inherit;
}
textarea{overflow:auto}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button{height:auto}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}
[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
progress{vertical-align:baseline}
hr{box-sizing:content-box;height:0;overflow:visible}
pre{font-family:monospace, monospace;font-size:1em;white-space:pre-wrap}
video::-webkit-media-controls-start-playback-button{display:none !important}
.blind,.u_skip{position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;margin:-1px;overflow:hidden}
.hidden, [hidden]{display:none}
.animation__no{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}
/* :focus{outline:2px solid red} */


/** comporenet(작업시 필수 코드) **/

/* buttons */
a[class*="btn__"]{display:inline-block;text-decoration:none}
[class*="btn__s"]{padding:4px 8px;border-radius:4px;font-size:14px;color:#fff;border-width:1px;border-style:solid}
[class*="btn__m"]{padding:6px 12px;border-radius:6px;font-size:16px;color:#fff;border-width:1px;border-style:solid}
[class*="btn__l"]{padding:8px 16px;border-radius:8px;font-size:20px;color:#fff;border-width:1px;border-style:solid;font-weight:700}
[class*="btn__xl"]{padding:10px 18px;border-radius:10px;font-size:24px;color:#fff;border-width:1px;border-style:solid;font-weight:700}
.btn__mr{border-radius:16px}
.btn__primary{border-color:var(--color-primary);background-color:var(--color-primary)}
.btn__secondary{border-color:var(--color-secondary);background-color:var(--color-secondary)}
.btn__success{border-color:var(--color-done);background-color:var(--color-done)}
.btn__danger{border-color:var(--color-warning);background-color:var(--color-warning)}
.btn__info{border-color:var(--color-notice);background-color:var(--color-notice)}
.btn__primary_outline{border-color:var(--color-primary);color:var(--color-primary)}
.btn__secondary_outline{border-color:var(--color-secondary);color:var(--color-secondary)}
.btn__success_outline{border-color:var(--color-done);color:var(--color-done)}
.btn__danger_outline{border-color:var(--color-warning);color:var(--color-warning)}
.btn__info_outline{border-color:var(--color-notice);color:var(--color-notice)}
.btn__text{background-color:transparent;border:0;text-decoration:underline;color:var(--color-primary)}
.btn__area{display:flex;margin-top:15px}
.btn__area [class*="btn__"]{flex:1}
.btn__area [class*="btn__"]:not(:first-child){margin-left:10px}

/* badges */
[class*="badge__"]{display:inline-block}
[class*="badge__m"]{padding:3px 6px 4px;font-size:11px;border-width:1px;border-style:solid;line-height:1}
.badge__m{border-radius:2px}
.badge__mr{border-radius:10px}
.badge__primary{border-color:var(--color-primary);background-color:var(--color-primary);color:#fff}
.badge__secondary{border-color:var(--color-secondary);background-color:var(--color-secondary);color:#fff}
.badge__success{border-color:var(--color-done);background-color:var(--color-done);color:#fff}
.badge__danger{border-color:var(--color-warning);background-color:var(--color-warning);color:#fff}
.badge__info{border-color:var(--color-notice);background-color:var(--color-notice);color:#fff}

.badge__primary_text{border:0;background-color:transparent;color:var(--color-primary)}
.badge__secondary_text{border:0;background-color:transparent;color:var(--color-secondary)}
.badge__success_text{border:0;background-color:transparent;color:var(--color-done)}
.badge__danger_text{border:0;background-color:transparent;color:var(--color-warning)}
.badge__info_text{border:0;background-color:transparent;color:var(--color-notice)}

/* tab */
[role="tabpanel"].is-hidden{display:none}
.tab__defualt [role="tab"],
.tab__defualt [role="tab"]:focus,
.tab__defualt [role="tab"]:hover{
    overflow:visible;position:relative;z-index:2;top:2px;margin:0;margin-top:4px;padding:3px 3px 4px;
    border:1px solid var(--border);border-bottom:2px solid var(--border);
    border-radius:5px 5px 0 0;background:var(--bg-base);font-weight:700
}
.tab__defualt [role="tab"][aria-selected="true"]{padding:2px 2px 4px;margin-top:0;border-width:2px;border-bottom-color:var(--bg-base);background:var(--bg-base)}
.tab__defualt [role="tab"][aria-selected="false"]{border-bottom:1px solid var(--border)}
.tab__defualt [role="tab"] span.focus{display:inline-block;margin:2px;padding:4px 6px}
.tab__defualt [role="tab"]:hover span.focus,
.tab__defualt [role="tab"]:focus span.focus,
.tab__defualt [role="tab"]:active span.focus{padding:2px 4px;border:2px solid var(--color-positive);border-radius:3px}
.tab__defualt [role="tabpanel"]{padding:5px;border:2px solid var(--border);border-radius:0 5px 5px;background:var(--bg-base);min-height:10em;overflow:auto}

.tab__movbar [role="tabpanel"]{padding:5px;border:2px solid var(--border);border-radius:0 5px 5px;background:var(--bg-base);min-height:10em;overflow:auto}
.tab__movbar [role="tablist"]{position:relative}
.tab__movbar [role="tab"]{position:relative;z-index:1;margin:0 6px;padding:3px 3px 10px;text-decoration:none;color:var(--color-secondary);transition-duration:var(--transition-speed);font-weight:700}
.tab__movbar [role="tab"]:before{content:"";position:absolute;bottom:-6px;left:0;width:100%;height:5px;background-color:#dfe2ea;border-radius:8px 8px 0 0;opacity:0;transition-duration:var(--transition-speed)}
.tab__movbar [role="tab"]:not(.is-active):hover:before{opacity:1;bottom:0}
.tab__movbar [role="tab"]:not(.is-active):hover{color:var(--color-primary)}
.tab__movbar .indicator{position:absolute;left:0;bottom:0;height:4px;transition-duration:var(--transition-speed);height:5px;z-index:1;border-radius:8px 8px 0 0}

.path_depth{font-size:14px}
.path_depth .item{border-bottom:1px solid}
.path_depth .active{border-color:var(--color-warning)}

.page__link{font-size:14px}
.page__link ul{display:flex}
.page__link ul li{border:1px solid var(--border);border-right-width:0;}
.page__link ul li:last-of-type{border:1px solid var(--border)}
.page__link ul li a{display:flex;padding:1rem}
.page__link ul li a:hover, ul li a:focus{background-color:var(--bg-base)}
.page__link ul li a[aria-current=page]{background-color:var(--color-warning);border-color:var(--color-warning);border-width:3px;color:#fff}

.tab__drag_slide{--button-size:4.4rem;padding:1rem var(--button-size);position:relative;overflow-x:hidden;max-width:100rem;}
.tab__drag_slide .icon{position:absolute;top:0;height:100%;width:var(--button-size);display:flex;align-items:center;justify-content:center}
.tab__drag_slide .icon:first-child{left:0}
.tab__drag_slide .icon:last-child{right:0}
.tab__drag_slide .icon:first-child::before{content:'◀'}
.tab__drag_slide .icon:last-child::before{content:'▶'}
.tab__drag_slide .tabs-box{display:flex;gap:1rem;overflow-x:hidden;scroll-behavior:smooth}
.tab__drag_slide .tabs-box.dragging{scroll-behavior:auto;cursor:grab}
.tab__drag_slide .tabs-box .tab{cursor:pointer;font-size:1.18rem;white-space:nowrap;background-color:var(--bg-base);padding:1rem 1.5rem;border-radius:3rem;
border:1px solid var(--border)}
.tabs-box.dragging .tab{user-select:none;pointer-events:none}
.tab__drag_slide .tabs-box .tab.active{color:#fff;background:var(--color-positive);border-color:transparent}

/* forms */
[class*="input__box"]{
    --border-radius:.375rem;position:relative;z-index:1;display:flex;align-items:center;
    background-color:var(--bg-card);border:1px solid var(--border);border-radius:var(--border-radius);
}
[class*="input__box"]:focus-within{border-color:var(--color-primary)}
@supports (:focus-within){
    [class*="input__box"]:focus-within{border:0}
    [class*="input__box"] .border{
        position:absolute;top:0;left:0;right:0;bottom:0;z-index:-1;
        border:1px solid var(--border);border-radius:var(--border-radius)
    }
    [class*="input__box"] input:focus ~ .border,
    [class*="input__box"] textarea:focus ~ .border{border-color:var(--color-primary)}
}
[class*="input__box"] input,
[class*="input__box"] textarea,
[class*="input__box"] select{flex:1;width:100%;min-height:var(--input-height);padding:.375rem .75rem;font-size:1rem;line-height:1.5;color:var(--color-primary)}
[class*="input__msg"]{font-size:12px}
.input__msg_error{color:var(--color-warning)}
[class*="input__box"] .input_label{position:absolute;left:10px;top:10px;font-size:14px;color:var(--color-secondary2);transition-duration:var(--transition-speed)}
[class*="input__box"] input.focus + .input_label,
[class*="input__box"] textarea.focus + .input_label{display:none}
[class*="input__box"] input[readonly]{color:var(--bg-base)}
[class*="input__box"] input[disabled]{background-color:var(--bg-base)}
.input__box_ani input.focus + .input_label{display:block}

.form__area_col{display:flex;flex-wrap:wrap}
.form__area_col:not(:first-of-type){margin-top:1rem}
.form__area_col .label_name{flex:0 0 140px;padding-top:10px;font-size:14px}
.form__area_col .input_area{flex:1 1 auto}
.form__area_col .input__msg{flex:0;width:100%}
.form__area_col .checkbox_area{height:var(--input-height);display:flex;align-items:center}
.form__area_row .label_name{display:block;margin-bottom:10px;font-size:14px}
.form__area_row .input__box_ani input:focus + .input_label{transform:translateY(calc(var(--input-height) * -1))}

.field__multi_columns{display:flex;flex-direction:row;gap:15px}
.field__multi_columns .input_area{flex:1}

.field__multi_registnum{display:flex;flex-direction:row;gap:15px}
.field__multi_registnum .input_area{flex:1}
.field__multi_registnum .input_backnum input{flex:0;width:30px;padding:0;text-align:center}
.field__multi_registnum .input_backnum .icon_pw{
    width:120px;height:14px;
    background-image:radial-gradient(var(--color-secondary2) 4px, transparent 4px);
    background-size:14px 14px;background-repeat:space no-repeat
}

.field__multi_email{display:flex;flex-direction:row;gap:15px}
.field__multi_email .input_area{flex:1}
.field__multi_email .input_remain{display:flex;align-items:center}
.field__multi_email .input_remain::before{content:'@';margin-right:15px}
.field__multi_email .input_remain .input__box{flex:1}
.field__multi_email .input_remain input{display:none;position:absolute;top:0;left:0;width:calc(100% - 40px);height:var(--input-height);background-color:#fff;border-radius:var(--border-radius)}

.form__group .form__area_row:not(:first-of-type),
.form__group .field__multi_columns:not(:first-of-type){margin-top:15px}

.form__otp .field{width:100%;display:flex;justify-content:space-around}
.form__otp .input{height:3em;width:3em;border:2px solid #dad9df;text-align:center;
font-size:1.5rem;border-radius:.6rem;background-color:var(--bg-card);appearance:textfield}
.form__otp input[type="number"]::-webkit-outer-spin-button,
.form__otp input[type="number"]::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}
.form__otp #submit{margin:1rem auto 0;padding:1rem;background-color:var(--color-notice);color:var(--color-primary)}
.form__otp .show{display:block}
.form__otp .hide{display:none}
.form__otp .input:disabled{color:var(--line-disable)}
.form__otp .input:focus{border:3px solid var(--color-notice)}

/* selection */
@keyframes dothabottomcheck{
    0%{ height:0 }
    100%{ height:calc(var(--v-size) / 2); }
}
@keyframes dothatopcheck{
    0%{ height:0 }
    50%{ height:0 }
    100%{ height:var(--v-size); }
}
[class*="checkbox"]{cursor:pointer}
[class*="checkbox__draw"]{--v-size:14px;--v-line:2px;--v-radius:3px}
[class*="checkbox__draw"] figure.v{display:inline-flex;align-items:center;justify-content:center;margin-right:5px;border:1px solid var(--color-secondary);border-radius:5px;width:calc(var(--v-size) + 10px);height:calc(var(--v-size) + 10px)}
[class*="checkbox__draw"] figure.v i{position:relative;display:inline-block;width:var(--v-size);height:var(--v-size)}
[class*="checkbox__draw"] figure.v i::before,
[class*="checkbox__draw"] figure.v i::after{content:'';position:absolute;height:0;width:var(--v-line);background-color:var(--color-secondary);transform-origin:left top}
[class*="checkbox__draw"] figure.v i::before{top:var(--v-size);left:calc(var(--v-size) * .4);border-radius:0 0 var(--v-radius) var(--v-radius);transform:rotate(-135deg)}
[class*="checkbox__draw"] figure.v i::after{top:calc(var(--v-size) * .6);left:0;border-radius:var(--v-radius) var(--v-radius) 0 0;transform:rotate(-45deg)}
[class*="checkbox__draw"] input:checked + figure.v i::before,
[class*="checkbox__draw"] input:checked + figure.v i::after,
[class*="checkbox__draw"][aria-checked="true"] figure.v i::before,
[class*="checkbox__draw"][aria-checked="true"] figure.v i::after{animation-fill-mode:forwards;animation-timing-function:ease}
[class*="checkbox__draw"] input:checked + figure.v i::before,
[class*="checkbox__draw"][aria-checked="true"] figure.v i::before{height:var(--v-size);animation-name:dothatopcheck}
[class*="checkbox__draw"] input:checked + figure.v i::after,
[class*="checkbox__draw"][aria-checked="true"] figure.v i::after{height:calc(var(--v-size) / 2);animation-name:dothabottomcheck}
.checkbox__draw_ani input:checked + figure.v i::before,
.checkbox__draw_ani input:checked + figure.v i::after,
.checkbox__draw_ani[aria-checked="true"] figure.v i::before,
.checkbox__draw_ani[aria-checked="true"] figure.v i::after{animation-duration:var(--transition-speed)}

[class*="radio__draw"] i.o{display:inline-block;vertical-align:middle;width:30px; height:30px;margin-right:4px;border-radius:50%;background-color:var(--bg-base)}
[class*="radio__draw"][aria-checked="true"] i.o,
[class*="radio__draw"] input:checked + i.o{box-shadow:inset 0 0 0 20px var(--color-positive)}
.radio__draw_ani i.o{transition:box-shadow var(--transition-speed)}
  
@keyframes slide-on{
    0%{padding-left:0}
    60%{padding-left:4.8rem}
    100%{padding-left:4.4rem}
}
@keyframes slide-off{
    0%{padding-left:4.4rem;text-indent:0}
    60%{padding-left:0;text-indent:-.4rem}
    100%{padding-left:0;text-indent:0}
}
input.switch__spring{
    appearance:none;user-select:none;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;
    position:relative;display:inline-block;width:9rem;height:4.6rem;
    border-radius:2.3rem;box-shadow:inset 0 0 0 .2rem #eee;line-height:4.6rem;font-size:1rem;cursor:pointer;
    transition:box-shadow .3s ease-in-out, padding .25s ease-in-out;transition-delay:.1s, 0s;
    outline:1px solid transparent !important;background:transparent;
}
input.switch__spring:checked{padding-left:4.4em;transition-delay:0s, 0s;box-shadow:inset 0 0 0 2.62857em #00c169 !important}
input.switch__spring.hit{animation:slide-off .35s ease both}
input.switch__spring.hit:checked{animation:slide-on .35s ease both .05s}
input.switch__spring::before, input.switch__spring::after{content:""}
input.switch__spring::after{position:absolute;top:-1.4rem;left:-1.4rem;bottom:-1.4rem;right:-1.4rem}
input.switch__spring::before{
    display:inline-block;height:4.2rem;width:4.2rem;margin:.2rem 0 0 .2rem;
    background-color:#fff;border-radius:2.1rem;
    box-shadow:0 .2rem .4rem 0 rgba(0, 0, 0, 0.2), 0 0 .1rem .1rem rgba(0, 0, 0, 0.1);
    transition:all .1s ease .1s;
}
input.switch__spring:active::before{transition:all .1s ease .05s}
input.switch__spring:active::before{width:5rem}
input.switch__spring:active:checked::before{margin-left:-.6rem}
  
.switch__rubber{position:relative;display:inline-block;width:7rem;height:3.7rem;border-radius:3.5rem;background-color:var(--bg-base);cursor:pointer}
.switch__rubber .slider{
    position:absolute;
    left:.35rem;
    top:.3rem;
    width:6.3rem;
    height:3rem;
    background-color:var(--color-notice);
transition:all var(--transition-speed) ease;
border-radius:50%;
transform:scaleX(  .4758);
transform-origin:left center;
}
.switch__rubber.activate .slider{
animation:activate 0.5s ease forwards;
}
.switch__rubber.deactivate .slider{
transform:scaleX(0.4758) translateX(0rem);
animation:deactivate 0.5s ease forwards;
}
@keyframes activate{
50%{
    transform-origin:left center;
    border-radius:5.8rem;
    transform:scaleX(1);
    background-color:var(--color-notice);
}
50.1%{
    transform-origin:right center;
}
100%{
    transform-origin:right center;
    transform:scaleX(0.4758) translateX(0rem);
    background:#82ea9e;
}
}
@keyframes deactivate{
0%{
    transform-origin:right center;
    border-radius:50%;
    transform:scaleX(0.4758) translateX(0rem);
    background:#82ea9e;
}
50%{
    transform:scaleX(1) translateX(0rem);
    border-radius:5.8rem;
    transform-origin:right center;
    background:#82ea9e;
}
50.1%{
    transform-origin:left center;
}
100%{
    transform-origin:left center;
    transform:scaleX(0.4758);
    background:var(--color-notice);
}
}

.input__stepper{
    display:inline-flex;
    background-color:#fff;
    box-shadow:0 20px 30px rgba(0,0,0,.15);
    border:1px solid var(--border);
    border-radius:45px;
}
.input__stepper input[type="number"]{
    appearance:textfield;
    text-align:center;
    font-size:40px;
    border:0;
    background-color:#fff;
    color:#202030;
}
.input__stepper input::-webkit-outer-spin-button,
.input__stepper input::-webkit-inner-spin-button{
    -webkit-appearance:none;
    margin:0;
}
.input__stepper button{
    color:#3264fe;
    background-color:#fff;
    border:0;
    font-size:40px;
    cursor:pointer;
}
.input__stepper .decrement{
    padding:15px 5px 15px 25px;
    border-radius:45px 0 0 45px;
}
.input__stepper .increment{
    padding:15px 25px 15px 5px;
    border-radius:0 45px 45px 0;
}

/* accordion */
.accordion__panel{
    --transition-speed:.3s;
    display:grid;
    grid-template-rows:0fr;
    transition:grid-template-rows var(--transition-speed);
    transition:grid-template-rows var(--transition-speed),
                -ms-grid-rows var(--transition-speed);
}
.accordion__panel[aria-hidden=false]{
    grid-template-rows:1fr;
}
.accordion__panel > div{
    overflow:hidden;
}

/* popup */
@keyframes popup-ani{
  to{opacity:1;transform:translateY(0)}
}
.popup_wrap{display:none;width:100vw;height:100vh;position:fixed;top:0;left:0;z-index:30}
.popup_container{position:absolute;background-color:#fff}
.popup_close{position:absolute;top:0;right:0;z-index:10;}
.popup_back{position:absolute;left:0;top:0;bottom:0;right:0;background-color:rgba(0,0,0,.5)}
[data-popup-type="center"]{align-items:center;justify-content:center}
[data-popup-type="center"] .popup_container{width:300px;height:300px;transform:translateY(20px);opacity:0}
[data-popup-type="center"].open{display:flex;}
[data-popup-type="center"].open .popup_container{animation:popup-ani .3s ease .1s forwards}
[data-popup-type="bottom"].open{display:block}
[data-popup-type="bottom"] .popup_container{width:100%;height:300px;bottom:0;border-radius:12px 12px 0 0;transform:translateY(var(--bottom))}
[data-popup-type="bottom"].open .popup_container{animation:popup-ani .3s ease .1s forwards}
[data-popup-type="full"] .popup_container{position:relative}
[data-popup-type="full"] .popup_content{overflow:auto;flex:1}
[data-popup-type="full"] .popup_footer{height:50px;border-top:1px solid}
[data-popup-type="full"].open{display:block}
[data-popup-type="full"].open .popup_container{display:flex;height:100%;flex-direction:column}
[data-popup-type="full"].open .popup_footer{margin-top:auto}

.tooltip_wrap{display:none;width:100%;position:absolute;z-index:30}
.tooltip_wrap.open{display:block}
.tooltip_wrap::before{content:'';width:20px;height:20px;transform:rotate(45deg);box-shadow:0 1px 14px rgba(0,0,0,.2);background:#fff;position:absolute;z-index:1;left:20px}
.tooltip_wrap::after{content:"";height:100%;width:100%;border-radius:4px;position:absolute;top:0;left:0;box-shadow:0 1px 14px rgba(0,0,0,.2)}
.tooltip_container{position:relative;z-index:1;width:100%;padding:20px;border-radius:4px;background-color:#fff}
.tooltip_wrap.arrow_top::before{top:-8px;}
.tooltip_wrap.arrow_btm::before{bottom:-8px;}

.toast_wrap{display:none;position:fixed;left:0;right:0;padding:20px;z-index:30;transition-duration:.3s;opacity:0}
.toast_content{position:relative;padding:10px;border-radius:12px;background-color:rgba(0,0,0,.5);font-size:12px;color:#fff}
.toast_wrap.open{display:block}
.toast_wrap.on{opacity:1}

[data-toast-type="bottom"]{--bottom:100%;bottom:0;transform:translateY(var(--bottom))}
[data-toast-type="bottom"].on{transform:translateY(0)}
[data-toast-type="center"]{top:50%;transform:translateY(calc(-50% + 20px))}
[data-toast-type="center"].on{transform:translateY(-50%)}


/** 아래부터는 guide 페이지를 위한 소스 **/
/* color참고 https://www.color-hex.com/ */

/* layout */
table{width:100%}
.tac{text-align:center}
#header{
  background-color:#fff;padding-left:20px;
  display:flex;align-items:center;z-index:30;height:60px;
  position:sticky;top:0;right:0;left:0;
  box-shadow:0px 2px 20px rgba(1, 41, 112, 0.1);
  transition-duration:var(--transition-speed)
}
#header .logo{font-size:26px;font-weight:700;color:var(--color-primary);width:220px}
.state_info{margin-left:auto;padding-right:25px;font-size:11px;align-self:stretch;display:flex;}
.state_info .info_item{width:46px;height:100%;display:flex;flex-direction:column;border-left:1px solid var(--border);justify-content:center;align-items:center;}
.state_info .info_value{font-size:18px;font-weight:700;}
.state_info .info_progress{width:225px;padding:0 15px;}
.state_info .count-ing{color:var(--color-ing);}
.state_info .count-test{color:var(--color-notice);}
.state_info .count-done{color:var(--color-done);}
.state_info .count-modi{color:var(--color-positive);}
.state_info .count-defer{color:var(--color-warning);}

.progress{position:relative;width:100%;height:5px}
.progress_total{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    font-size:12px;
    background-color:#dcd8d1;
}
.progress_total-text{
    position:absolute;
    right:0;
    top:3px;
    color:#666156;
    font-weight:700;
    font-size:11px;
}
.progress_total-count{
    color:#000;
    font-weight:700;
    font-size:14px;
    font-family:consolas;
}
.progress_done{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    background-color:var(--color-done);
}
.progress_done-percent{
    position:absolute;
    right:0;
    bottom:3px;
    color:#000;
    font-weight:700;
    font-size:14px;
    font-family:consolas;
    white-space:nowrap;
    transform:translateX(50%);
}
.progress.half .progress_done-percent{
    transform:translateX(0);
}
.progress_defer{
    position:absolute;
    top:7px;
    left:0;
    height:2px;
    background-color:#f95a37;
}
.shortcut{
    overflow-x:auto;
    overflow-y:hidden;
    flex:1 1 0;
    height:50px;
    padding:0 20px;
    display:flex;
    align-items:center;
    white-space:nowrap;
}
.shortcut .go{
    display:inline-block;
    padding:3px 15px;
    border-radius:27px;
    background-color:var(--bg-base);
    font-weight:700;
    font-size:13px;
    line-height:1.5;
    letter-spacing:-1px;
    text-decoration:none;
}
.shortcut .go + .go{margin-left:4px;}

@keyframes LineHide{
	0%{width:24px;opacity:1}
	50%, 100%{width:0;opacity:0;}
}
@keyframes ScaleChange{
	0%{width:24px;}
	50%, 100%{width:28px;}
}
@keyframes Clockwise{
	0%, 50%{transform:translate(-50%, -50%) rotate(0)}
	100%{transform:translate(-50%, -50%) rotate(45deg)}
}
@keyframes Counterclockwise{
	0%, 50%{transform:translate(-50%, -50%) rotate(0)}
	100%{transform:translate(-50%, -50%) rotate(-45deg)}
}
.snb_handle{padding:8px;border:0;border-radius:8px;outline:none;cursor:pointer;transition:var(--transition-speed) ease-in-out}
.snb_handle:active{transform:scale(.9)}
.snb_handle .icon{position:relative;display:block;width:24px;height:20px}
.snb_handle .icon i{
	position:absolute;width:24px;height:2px;
	border-radius:2px;background-color:#000;
	animation-duration:var(--transition-speed);animation-fill-mode:forwards;animation-direction:reverse
}
.snb_handle.active .icon i{animation-direction:normal}
.snb_handle .icon i:nth-child(1){left:0;top:0}
.snb_handle .icon i:nth-child(2){right:0;bottom:0}
.snb_handle .icon i:nth-child(3),
.snb_handle .icon i:nth-child(4){left:50%;top:50%;transform:translate(-50%, -50%)}
.snb_handle.animation .icon i:nth-child(1),
.snb_handle.animation .icon i:nth-child(2){animation-name:LineHide}
.snb_handle.animation .icon i:nth-child(3){animation-name:ScaleChange, Clockwise}
.snb_handle.animation .icon i:nth-child(4){animation-name:ScaleChange, Counterclockwise}
.snb{
  overflow-y:auto;background-color:#fff;
  position:fixed;top:60px;left:0;bottom:0;
  width:var(--snb-size);z-index:25;padding:20px;
  scrollbar-width:thin;scrollbar-color:#aab7cf transparent;
  box-shadow:0px 0px 20px rgba(1, 41, 112, 0.1);
  transition-duration:var(--transition-speed)
}
.snb_item{margin-bottom:5px}
.snb_link{
  display:flex;align-items:center;
  width:100%;padding:15px;border-radius:4px;
  font-size:15px;font-weight:600;color:var(--color-primary);
  transition-duration:var(--transition-speed)
}
.snb_link.collapsed{color:var(--color-primary);background:#fff}
.snb_link:not([aria-expanded]):hover, .snb_link:not([aria-expanded]).active{background:var(--bg-base)}
.snb_link[aria-expanded]{position:relative;--arr-dir:-45deg;--arr-size:8px}
.snb_link[aria-expanded]::after{
    content:'';position:absolute;right:0;top:50%;
    width:var(--arr-size);height:var(--arr-size);margin-top:2px;
    border-width:1px 1px 0 0;border-style:solid;border-color:currentColor;
    transform:translateY(-50%) rotate(var(--arr-dir))
}
.snb_link[aria-expanded="true"]{--arr-dir:135deg}
.snb_link[aria-expanded="true"]::after{margin-top:-2px}
.snb_submenu a, .snb_submenu button{
  display:flex;align-items:center;width:100%;padding:10px 0 10px 30px;
  font-size:14px;color:var(--color-primary);transition-duration:var(--transition-speed)
}
.snb_submenu button:hover,
.snb_submenu button.active{color:var(--color-primary);text-decoration:underline}
#content{padding:20px 30px;margin-left:var(--snb-size);margin-right:0;transition-duration:var(--transition-speed)}
.preview{
    overflow-y:auto;position:fixed;top:60px;right:calc(var(--preview-size) * -1);
    height:100%;width:var(--preview-size);background-color:#fff;
    border:0;border-left:1px solid var(--border);box-shadow:0px 0px 20px rgba(1, 41, 112, 0.1);
    transition-duration:var(--transition-speed);z-index:25
}
.snbClose .snb{left:calc(var(--snb-size) * -1)}
.snbClose #content{margin-left:0}
.previewOpen #content{margin-right:var(--preview-size)}
.previewOpen .preview{right:0}
.previewOpen .func{right:calc(var(--preview-size) + 10px)}
.func{
    overflow:hidden;
    position:fixed;
    bottom:51px;
    right:40px;
    z-index:100;
    border:2px solid var(--border);
    border-radius:40px;
    font-size:0;
    box-shadow:inset 0 0 5px 0 rgba(0,0,0,.05);
    transition-duration:var(--transition-speed);
    display:flex;
}
.func .top{
    position:relative;
    width:50px;
    height:40px;
    margin:0;
    padding:10px 0 0 10px;
    border:0;
    background-color:var(--bg-base);
    color:#000;
    font-weight:700;
    font-size:12px;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
}
.func .top:before{
    content:"";
    position:absolute;
    top:10px;
    left:25px;
    width:0;
    height:0;
    border:4px solid transparent;
    border-top-width:0;
    border-bottom-color:#000;
}
.func .preview_opener{
    position:relative;
    overflow:hidden;
    white-space:nowrap;
    text-indent:100%;
    width:50px;
    height:40px;
    margin:0;
    padding:0;
    border:0;
    background-color:var(--bg-base);
    cursor:pointer;
}
.func .preview_opener:before{
    content:"";
    position:absolute;
    top:7px;
    left:15px;
    width:14px;
    height:24px;
    border-radius:4px;
    border-top:2px solid #332d22;
    border-right:2px solid #332d22;
    border-bottom:2px solid #332d22;
    border-left:2px solid #332d22;
    background-color:var(--bg-base);
    transition-duration:var(--transition-speed)
}
.func .preview_opener:after{
    content:"";
    position:absolute;
    top:7px;
    left:19px;
    width:6px;
    height:3px;
    border-radius:0 0 2px 2px;
    background-color:#332d22;
}

.pagetitle{margin-bottom:10px;position:relative;}
.pagetitle h2{font-size:24px;margin-bottom:0;font-weight:600;color:var(--color-primary)}
.pagetitle .breadcrumb{font-size:12px;color:var(--color-secondary)}
.pagetitle .breadcrumb.active{color:#51678f}
.section_card,
.section_convention{
  margin-bottom:30px;
  padding:20px;
  border-radius:5px;
  box-shadow:0px 0 30px rgba(1, 41, 112, 0.1);
  background-color:var(--bg-card);
}
.section_card h3{
  padding-bottom:10px;
  font-size:18px;
  font-weight:700;
  color:var(--color-primary);
  font-family:"Poppins", sans-serif;
}
.section_card_wrap{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(420px, 1fr));
    align-items:start;
    gap:1.5rem;
}
.section_card_wrap .section_card{margin-bottom:0}
@supports (break-inside:avoid){
    .section_card_wrap{
        display:block;
        columns:3;
        break-inside:avoid;
    }
    .section_card_wrap .section_card{
        break-inside:avoid;
        margin-bottom:1.5rem;
    }
}

.idSearch_box{position:absolute;right:0;bottom:0;z-index:10;}
.idSearch_input{width:215px;background-color:var(--bg-card);padding:8px 10px;border-radius:6px;font-size:12px}
.idSearch_go{font-size:12px;}

.section_convention h2{margin-bottom:20px;font-size:20px;}
.section_convention h2:not(:first-of-type){margin-top:30px;}
.section_convention h3{margin:20px 0 10px;font-size:16px;}
.section_convention h4{margin:10px 0;font-size:14px;}
.section_convention a[href*="#"]{text-decoration:underline;}
.section_convention .pre{background-color:var(--bg-base);padding:10px 20px;}
.section_convention .table2{margin-top:10px;}
.table thead{background-color:var(--bg-base)}
.table th.state>span{position:relative;z-index:1;}
.table th.state>span::after{content:'▼';position:absolute;right:-2px;top:50%;transform:translateY(-50%);font-size:10px;z-index:-1;color:var(--color-primary)}
.table th.state select{font-weight:700;height:33px;padding-right:10px;color:var(--color-primary)}
.table>:not(caption)>*>*{padding:10px}
.table td{
  border-bottom:1px solid var(--border);
  text-align:center;
  font-size:12px;
}
.table a{
    text-decoration:underline;
    color:var(--color-primary);
}
.table td.url .copy{
    display:inline-block;
    background-color:var(--color-secondary2);
    padding:2px 4px 4px;
    border-radius:4px;
    line-height:1.1;
    font-size:11px;
    color:#fff;
}
.table td.state strong{
    display:inline-block;
    padding:2px 4px;
    border-radius:4px;
    color:#fff;
}
.table td.ing strong{
    background-color:var(--color-ing);
}
.table td.test strong{
    background-color:var(--color-notice);
}
.table td.done strong{
    background-color:var(--color-done);
}
.table td.modify strong{
    background-color:var(--color-positive);
}
.table tr.defer{
  text-decoration:line-through;
  opacity:.5;
}
.table tr.defer td.state strong{
    color:var(--color-warning);
}
.table td.depth2,
.table td.depth3,
.table td.depth4,
.table td.section,
.table td.pagename{text-align:left;}
.table .sort_arrows{display:flex;justify-content:center;}
.table .sort_arrows button{width:22px;height:22px;border:1px solid var(--border);border-radius:4px;font-size:11px;color:var(--color-primary)}
.table .sort_arrows .before::before{content:'▲'}
.table .sort_arrows .after{margin-left:4px}
.table .sort_arrows .after::before{content:'▼'}

.table2{border-top:1px solid var(--border);border-right:1px solid var(--border)}
.table2 caption{font-weight:700;text-align:left;}
.table2 thead{background-color:var(--bg-base)}
.table2>:not(caption)>*>*{padding:10px}
.table2 th, .table2 td{
    border-bottom:1px solid var(--border);
    border-left:1px solid var(--border);
}
.table2 td{font-size:12px}
.table2 a{
    text-decoration:underline;
    color:var(--color-primary);
}

.codeview + .codeview_wrap{margin-top:15px;}
.codeview_wrap{border-top:1px solid var(--border);border-bottom:1px solid var(--border);}
.codeview_header button{width:100%;padding:10px;text-align:left;display:flex;align-items:center;}
.codeview_header button::after{content:'';border-width:1px 1px 0 0;border-style:solid;border-color:var(--color-secondary);margin-left:auto;width:10px;height:10px;transform:rotate(135deg)}
.codeview_header button[aria-expanded=true]::after{transform:rotate(-45deg);margin-top:4px}
.codetext{margin-bottom:15px;font-size:12px;}

.accordion_sample_header{
    border:1px solid #ebeef4;
}
.accordion_sample_header button{
    position:relative;
    display:flex;
    align-items:center;
    width:100%;
    overflow-anchor:none;
    padding:16px 20px;
    font-size:16px;
    background-color:#f6f9ff;
}
.accordion_sample_header button::after{
    content:'';margin-left:auto;width:1rem;height:1rem;
    border-width:1px 1px 0 0;border-style:solid;border-color:var(--color-secondary);transform:rotate(135deg);
}
.accordion_sample_header button[aria-expanded=true]::after{transform:rotate(-45deg)}
.accordion_sample_content{
    padding:16px 20px;
    border-bottom:1px solid #ebeef4;
    font-size:14px;
}

.list__type > li{position:relative;padding-left:10px;}
.list__type > li:not(:first-child){margin-top:6px;}
.list__type > li::before{content:'*';position:absolute;left:0;top:2px;}
.list__type ol{margin-left:4px;counter-reset:my-counter;}
.list__type ol li{counter-increment:my-counter}
.list__type ol li::before{content:counter(my-counter)'. ';}

.color_palette{padding-bottom:30px}
.color_palette dl{display:flex;flex-wrap:wrap}
.color_palette dl:not(:first-child){margin-top:30px;}
.color_palette dt{width:220px;margin-bottom:20px;font-weight:700;font-size:24px}
.color_palette dd{flex:1}
.color_palette dl:not(:last-child) dd{padding-bottom:40px;border-bottom:1px solid var(--border)}
.color_palette .color_set{display:flex;flex-wrap:wrap;width:160px;gap:4px;margin-top:60px;box-shadow:0 8px 64px 0 rgba(0, 0, 0, .07);}
.color_palette .color_set .color{flex:1 1 0;height:100px;position:relative}
.color_palette .color_set .color::before{content:attr(data-theme);position:absolute;top:-34px;left:0;width:100%;text-align:center;font-size:18px;color:var(--color-secondary2)}
.color_palette .color_set .text{flex:0 0 100%;min-height:126px;padding:15px;text-transform:uppercase}
.color_palette .color_set .text strong{display:block;margin-bottom:4px;font-size:16px;text-transform:initial}
.color_palette .color_set_wrap{display:flex;gap:50px;flex-wrap:wrap}
.color_palette h3{margin:40px 0 10px 0;font-size:20px}


/* enlighter */
.enlighter-btn-raw,
.enlighter-toolbar-bottom,
.enlighter-btn-website,
.enlighter-btn-window{
  display:none !important;
}

/* no animation */
@media (prefers-reduced-motion:reduce){
  *,
  *::before,
  *::after{
    animation-duration:.01ms !important;
    animation-iteration-count:1 !important;
    transition-duration:.01ms !important;
    scroll-behavior:auto !important;
  }
}


/* mobile */
@media (max-width:1024px){
    :root{
        --transition-speed:0s;
    }
    html{
        scroll-padding-top:90px;
    }

    .snb.type{top:82px}
    .snb_handle{margin-left:auto;margin-right:15px}
    #content{padding-right:20px;padding-left:20px;margin-left:0;}
    #header{min-height:60px;height:auto;flex-wrap:wrap}
    .shortcut{height:40px;padding-left:0;flex:none;width:100%}
    .shortcut .go{margin-top:-5px}

    .state_info,
    .func .preview_opener{display:none}
    .func .top{padding-left:0}
    .func .top:before{left:20px;}

    .idSearch_box{position:static;margin-top:10px;}

    .func{bottom:25px;right:25px}

    .table thead, .table tbody{
        display:block
    }
    .table thead{
        background-color:transparent;
        text-align:center;
        padding-top:15px;
    }
    .table thead tr{
        display:block;
    }
    .table th{
        display:inline-block;
        min-width:80px;
        width:auto;
        background-color:var(--bg-card);
        border:1px solid var(--border);
        border-radius:4px;
        margin-left:6px;
        margin-bottom:6px;
    }
    .table th.depth2,
    .table th.depth3,
    .table th.depth4,
    .table th.pagename,
    .table th.section,
    .table th.url,
    .table th.worker,
    .table th.etc{display:none}
    .table th.end,
    .table th.modify{position:relative;padding:0;border:0}
    .table th.end strong,
    .table th.modify strong{position:absolute;left:50%;top:-20px;font-size:12px;transform:translateX(-50%);}
    .table .sort_arrows{display:inline-flex;}
    .table .sort_arrows button{width:38px;height:38px;font-size:14px}
    .table th.state{padding:1px 0 2px}
    .table th.state>span::after{font-size:12px}
    .table th.state select{padding-right:12px}
    .table tbody tr{
        display:block;background-color:var(--bg-card);
        box-shadow:0px 7px 6px -6px rgba(0,0,0,.28);
        border:1px solid var(--border);
        margin-top:20px;padding-top:77px;position:relative;
        border-radius:4px;overflow:hidden;
    }
    .table tbody tr:first-child{margin-top:12px}
    .table td{display:block;text-align:left}
    .table td:last-child{border-bottom:0}
    .table td:not(.depth2)[data-label]{padding-left:50%}
    .table td[data-label]::before{content:attr(data-label);display:inline-block;color:var(--color-secondary2);}
    .table td:not(.depth2)[data-label]::before{
        margin-left:-100%;
        width:100%;
        white-space:nowrap;
    }
    .table td.pagename,
    .table td.url{position:absolute;width:100%}
    .table td.pagename{top:0;font-size:20px;height:54px;border-bottom:0;font-weight:700}
    .table td.url{top:0;padding-top:46px;border-bottom:2px solid var(--color-primary);z-index:1}
    .table td.url a{display:inline-block;}
    .table td.url .copy{display:none;}
    .table td.depth2,
    .table td.depth3,
    .table td.depth4{display:inline-block;border-bottom:0;position:relative}
    .table td.depth2::after,
    .table td.depth3::after{content:'>';position:absolute;right:-6px}
    .table td.section{border-top:1px solid var(--border)}
    .table td.etc{display:none}

    @supports (break-inside:avoid){
        .section_card_wrap{
            columns:1;
        }
    }
}