@charset "UTF-8";
@import url('keyframes.css');

:root{
    --color-primary:#333;
    --color-secondary:#555;
    --color-secondary2:#aeaeae;
    --color-warning:#f00;
    --color-positive:#086cfd;
    --color-notice:#f76900;
    --color-ing:#98948d;
    --color-done:#77ba04;

    --bg-base:#f3f2f2;
    --bg-card:#fff;

    --border:#d9d9d9;

    --snb-size: 220px;
    --preview-size: 400px;

    --transition-speed:.3s;
}

/* base */
*, *:after, *:before{-webkit-box-sizing:border-box;box-sizing:border-box}
html{
    font-size:10px;line-height:1.6;
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul{margin:0;padding:0}
body{
  position:relative;word-break:break-all;
  background-color: var(--bg-base);
  font-size: 1.4rem;color:var(--color-secondary);
  -webkit-text-size-adjust:none
}
main,details{display:block}
table{border-collapse:collapse}
fieldset,img{border:0}
ol,ul{list-style:none}
address,em{font-style:normal}
button,select{text-transform:none}
button{cursor:pointer}
a{
  color:inherit;text-decoration:none;
  -webkit-tap-highlight-color:rgba(0,0,0,.1)
}
img{vertical-align:top}
mark{color:inherit;font-weight:700;background:none}
button,input{border-radius:0;background:none}
button, input, optgroup, select, textarea{
  appearance:none;
  margin:0;padding:0;
  background-color:transparent;
  border-radius:0;border:0;
  font-family:inherit;
  font-size:inherit;
  letter-spacing:inherit;
  line-height:inherit;
}
textarea{overflow:auto}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button{height:auto}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}
[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
progress{vertical-align:baseline}
hr{box-sizing:content-box;height:0;overflow:visible}
pre{font-family:monospace, monospace;font-size:1em}
video::-webkit-media-controls-start-playback-button{display:none !important}
.blind,.u_skip{position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;margin:-1px;overflow:hidden}
[hidden]{display:none}

/* comporenet */
.accordion_panel{
  overflow:hidden;
  height:0;
  transition:all var(--transition-speed) linear
}

/* color참고 https://www.color-hex.com/ */
/* 아래부터는 guide 페이지를 위한 소스 */

/* layout */
table{width: 100%}
.tac{text-align: center}
#header{
  background-color:#fff;padding-left:20px;
  display:flex;align-items:center;z-index:30;height:60px;
  position:sticky;top:0;right:0;left:0;
  box-shadow:0px 2px 20px rgba(1, 41, 112, 0.1);
  transition-duration:var(--transition-speed)
}
#header .logo{font-size:26px;font-weight:700;color:var(--color-primary);width:280px}
.state_info{margin-left:auto;padding-right:25px;font-size: 11px;align-self: stretch;display: flex;}
.state_info .info_item{flex:1 1 auto;padding:0 10px;height:100%;display: flex;flex-direction: column;border-left:1px solid var(--border);justify-content:center;align-items: center;}
.state_info .info_value{font-size: 18px;font-weight: 700;}
.state_info .info_progress{width: 225px;padding:0 15px;}
.state_info .count-ing{color: var(--color-ing);}
.state_info .count-test{color: var(--color-notice);}
.state_info .count-done{color: var(--color-done);}
.state_info .count-modi{color: var(--color-positive);}
.state_info .count-defer{color: var(--color-warning);}

.progress {
    position: relative;
    width: 100%;
    height: 5px;
}
.progress_total {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    background-color: #dcd8d1;
}
.progress_total-text {
    position: absolute;
    right: 0;
    top: 3px;
    color: #666156;
    font-weight: 700;
    font-size: 11px;
}
.progress_total-count {
    color: #000;
    font-weight: 700;
    font-size: 14px;
    font-family: consolas;
}
.progress_done {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-done);
}
.progress_done-percent {
    position: absolute;
    right: 0;
    bottom: 3px;
    color: #000;
    font-weight: 700;
    font-size: 14px;
    font-family: consolas;
    white-space: nowrap;
    transform: translateX(50%);
}
.progress.half .progress_done-percent {
    transform: translateX(0);
}
.progress_defer {
    position: absolute;
    top: 7px;
    left: 0;
    height: 2px;
    background-color: #f95a37;
}
.shortcut {
    overflow-x: auto;
    overflow-y: hidden;
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    vertical-align: middle;
    white-space: nowrap;
}
.shortcut .go{
    display: inline-block;
    padding: 3px 15px;
    border-radius: 27px;
    background-color: var(--bg-base);
    font-weight: 700;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: -1px;
    text-decoration: none;
}
.shortcut .go + .go{margin-left: 4px;}

.snb_handle{padding:8px;border:0;border-radius:8px;outline:none;cursor:pointer;transition:var(var(--transition-speed)) ease-in-out}
.snb_handle:active{transform:scale(.9)}
.snb_handle .icon{position:relative;display:block;width:24px;height:20px}
.snb_handle .icon i{
	position:absolute;width:24px;height:2px;
	border-radius:2px;background-color:#000;
	animation-duration:var(--transition-speed);animation-fill-mode:forwards;animation-direction:reverse
}
.snb_handle.active .icon i{animation-direction:normal}
.snb_handle .icon i:nth-child(1){left:0;top:0}
.snb_handle .icon i:nth-child(2){right:0;bottom:0}
.snb_handle .icon i:nth-child(3),
.snb_handle .icon i:nth-child(4){left:50%;top:50%;transform:translate(-50%, -50%)}
.snb_handle.animation .icon i:nth-child(1),
.snb_handle.animation .icon i:nth-child(2){animation-name:LineHide}
.snb_handle.animation .icon i:nth-child(3){animation-name:ScaleChange, Clockwise}
.snb_handle.animation .icon i:nth-child(4){animation-name:ScaleChange, Counterclockwise}
.snb{
  overflow-y:auto;background-color:#fff;
  position:fixed;top:60px;left:0;bottom:0;
  width:var(--snb-size);z-index:25;padding:20px;
  scrollbar-width:thin;scrollbar-color:#aab7cf transparent;
  box-shadow:0px 0px 20px rgba(1, 41, 112, 0.1);
  transition-duration:var(--transition-speed)
}
.snb_item{margin-bottom:5px}
.snb_link{
  display:flex;align-items:center;
  width:100%;padding:15px;border-radius:4px;
  font-size:15px;font-weight:600;color:var(--color-primary);
  transition-duration:var(--transition-speed)
}
.snb_link.collapsed{color:var(--color-primary);background:#fff}
.snb_link:not([aria-expanded]):hover, .snb_link:not([aria-expanded]).active{background:var(--bg-base)}
.snb_link[aria-expanded]{
    position: relative;
    --arr-dir:-45deg;
    --arr-size:8px;
}
.snb_link[aria-expanded]::after{
    content:'';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(var(--arr-dir));
    border-width:1px 1px 0 0;
    border-style:solid;
    border-color:currentColor;
    width: var(--arr-size);
    height: var(--arr-size);
    margin-top: 2px;
}
.snb_link[aria-expanded="true"]{--arr-dir:135deg}
.snb_link[aria-expanded="true"]::after{margin-top:-2px}
.snb_submenu a, .snb_submenu button{
  display:flex;align-items:center;width:100%;padding:10px 0 10px 30px;
  font-size:14px;color:var(--color-primary);transition-duration:var(--transition-speed)
}
.snb_submenu button:hover,
.snb_submenu button.active{color:var(--color-primary);text-decoration:underline}
#content{
    padding:20px 30px;
    margin-left:var(--snb-size);
    margin-right:0;
    transition-duration:var(--transition-speed)
}
.preview{
    overflow-y:auto;background-color:#fff;
    position:fixed;top:60px;right:calc(var(--preview-size) * -1);height:100%;
    z-index:25;width:var(--preview-size);
    border:0;border-left:1px solid var(--border);
    box-shadow:0px 0px 20px rgba(1, 41, 112, 0.1);
    transition-duration:var(--transition-speed)
}
.snbOpen .snb{left:calc(var(--snb-size) * -1)}
.snbOpen #content{margin-left:0}
.previewOpen #content{margin-right:var(--preview-size)}
.previewOpen .preview{right:0}
.previewOpen .func{right:calc(var(--preview-size) + 10px)}
.func{
    overflow: hidden;
    position: fixed;
    bottom: 51px;
    right: 40px;
    z-index: 100;
    border: 2px solid var(--border);
    border-radius: 40px;
    font-size: 0;
    box-shadow: inset 0 0 5px 0 rgba(0,0,0,.05);
    transition-duration:var(--transition-speed);
    display: flex;
}
.func .top{
    position: relative;
    width: 50px;
    height: 40px;
    margin: 0;
    padding: 10px 0 0 10px;
    border: 0;
    background-color: var(--bg-base);
    color: #000;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.func .top:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 25px;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-width: 0;
    border-bottom-color: #000;
}
.func .preview_opener {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    width: 50px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--bg-base);
    cursor: pointer;
}
.func .preview_opener:before {
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    width: 14px;
    height: 24px;
    border-radius: 4px;
    border-top: 2px solid #332d22;
    border-right: 2px solid #332d22;
    border-bottom: 2px solid #332d22;
    border-left: 2px solid #332d22;
    background-color: var(--bg-base);
    transition-duration:var(--transition-speed)
}
.func .preview_opener:after {
    content: "";
    position: absolute;
    top: 7px;
    left: 19px;
    width: 6px;
    height: 3px;
    border-radius: 0 0 2px 2px;
    background-color: #332d22;
}

.pagetitle{margin-bottom: 10px;}
.pagetitle h2{font-size:24px;margin-bottom:0;font-weight:600;color:var(--color-primary)}
.pagetitle .breadcrumb{font-size:12px;color:var(--color-secondary)}
.pagetitle .breadcrumb.active{color:#51678f}
.section_card,
.section_convention{
  margin-bottom: 30px;
  padding:20px;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  background-color: var(--bg-card);
}
.section_card h3 {
  padding-bottom:10px;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-primary);
  font-family: "Poppins", sans-serif;
}
.section_convention h2{margin-bottom:20px;font-size:20px;}
.section_convention h2:not(:first-of-type){margin-top:30px;}
.section_convention h3{margin:20px 0 10px;font-size: 16px;}
.section_convention h4{margin:10px 0;font-size: 14px;}
.section_convention a[href*="#"]{text-decoration: underline;}
.section_convention .pre{background-color:var(--bg-base);padding:10px 20px;}
.section_convention .table2{margin-top: 10px;}
.table thead{background-color: var(--bg-base)}
.table th.state select{font-weight: 700;appearance:auto;height:33px}
.table>:not(caption)>*>* {padding: 10px}
.table td{
  border-bottom:1px solid var(--border);
  text-align: center;
  font-size: 12px;
}
.table a {
    text-decoration: underline;
    color:var(--color-primary);
}
.table td.url .copy{
    display: inline-block;
    background-color: var(--color-secondary2);
    padding: 2px 4px 4px;
    border-radius: 4px;
    line-height:1.1;
    font-size: 11px;
    color: #fff;
}
.table td.state strong {
    display: inline-block;
    padding: 2px 4px;
    border-radius: 4px;
    color: #fff;
}
.table td.ing strong {
    background-color: var(--color-ing);
}
.table td.test strong {
    background-color: var(--color-notice);
}
.table td.done strong {
    background-color: var(--color-done);
}
.table td.modify strong {
    background-color: var(--color-positive);
}
.table tr.defer {
  text-decoration:line-through;
  opacity: .5;
}
.table tr.defer td.state strong {
    color: var(--color-warning);
}
.table td.depth2,
.table td.depth3,
.table td.depth4,
.table td.section,
.table td.pagename{text-align: left;}
.table .sort_arrows{display: flex;justify-content: center;}
.table .sort_arrows button{width:22px;height:22px;border:1px solid var(--border);border-radius:4px;font-size:11px}
.table .sort_arrows .before::before{content:'▼'}
.table .sort_arrows .after{margin-left:4px}
.table .sort_arrows .after::before{content:'▲'}

.table2{border-top:1px solid var(--border);border-right:1px solid var(--border)}
.table2 caption{font-weight: 700;text-align: left;}
.table2 thead{background-color: var(--bg-base)}
.table2>:not(caption)>*>* {padding: 10px}
.table2 th, .table2 td{
    border-bottom:1px solid var(--border);
    border-left:1px solid var(--border);
}
.table2 td{font-size: 12px}
.table2 a {
    text-decoration: underline;
    color:var(--color-primary);
}

.codeview + .enlighter-default{margin-top: 15px;}

.accordion_default_header{
    border:1px solid #ebeef4;
}
.accordion_default_header button{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    overflow-anchor: none;
    padding: 16px 20px;
    font-size: 16px;
    background-color: #f6f9ff;
}
.accordion_default_content{
    padding: 16px 20px;
    border-bottom:1px solid #ebeef4;
    font-size: 14px;
}

/* enlighter */
.enlighter-btn-raw,
.enlighter-toolbar-bottom,
.enlighter-btn-website,
.enlighter-btn-window{
  display:none !important;
}

/* no animation */
@media (prefers-reduced-motion:reduce){
  *,
  *::before,
  *::after{
    animation-duration:.01ms !important;
    animation-iteration-count:1 !important;
    transition-duration:.01ms !important;
    scroll-behavior:auto !important;
  }
}

/* mobile */
@media (max-width: 1024px) {
    :root{
        --transition-speed:0s;
    }

    .state_info,
    .func .preview_opener{display: none}
    .func .top{padding-left:0}
    .func .top:before{left: 20px;}

    .table thead, .table tbody{
        display:block
    }
    .table thead{background-color:transparent}
    .table thead tr{
        display:block;
        text-align:center;
    }
    .table th{
        display:inline-block;
        min-width:80px;
        width:auto;
        background-color: var(--bg-card);
        border: 1px solid var(--border);
        border-radius: 4px;
        margin-left: 6px;
    }
    .table th.depth2,
    .table th.depth3,
    .table th.depth4,
    .table th.pagename,
    .table th.section,
    .table th.url,
    .table th.worker,
    .table th.etc{display:none}
    .table tbody tr{
        display:block;background-color: var(--bg-card);
        box-shadow: 0px 7px 6px -6px rgba(0,0,0,.28);
        border:1px solid var(--border);
        margin-top: 20px;padding-top:77px;position:relative;
        border-radius:4px;overflow:hidden;
    }
    .table td{display:block;text-align:left}
    .table td:last-child{border-bottom:0}
    .table td:not(.depth2)[data-label]{padding-left:50%}
    .table td[data-label]::before{content: attr(data-label);display: inline-block;color: var(--color-secondary2);}
    .table td:not(.depth2)[data-label]::before{
        margin-left: -100%;
        width: 100%;
        white-space: nowrap;
    }
    .table td.pagename,
    .table td.url{position:absolute;width:100%}
    .table td.pagename{top:0;font-size:20px;height:54px;border-bottom:0;font-weight:700}
    .table td.url{top:0;padding-top:46px;border-bottom:2px solid var(--color-primary);z-index:1}
    .table td.url a{display:inline-block;}
    .table td.depth2,
    .table td.depth3,
    .table td.depth4{display:inline-block;border-bottom:0;position:relative}
    .table td.depth2::after,
    .table td.depth3::after{content:'>';position:absolute;right:-6px}
    .table td.section{border-top:1px solid var(--border)}
    .table td.etc{display:none}
    .table .sort_arrows{display: inline-flex;}
    .table .sort_arrows button{width:33px;height:33px;font-size:14px}
}